.credential {
    > aside {
        float: right;
        text-align: right;
            }
    }

.job-title {
    color: #0d0630;
    text-decoration: underline;
    }

.job-organization {
    font-style: italic;
    }