<footer id="fh5co-footer" role="contentinfo">
    <div class="container-fluid">
        <div class="footer-content">
            <div class="copyright"><small>&copy; 2020. All Rights Reserved. <br>Designed by Sami Lee</small></div>
            <div class="social">
                <a href="https://www.instagram.com/sami.creates/"><i class="icon-instagram2"></i></a>
                <a href="https://www.linkedin.com/in/sami-lee-41938bb0/"><i class="icon-linkedin2"></i></a>
            </div>
        </div>
    </div>
</footer>