<header id="fh5co-header" role="banner">
    <div class="container text-center">
        <div id="fh5co-logo">
            <a href="/">
                {% if page.is_main %}
                <img src="/images/SamiLogoCircleTrees.png" alt="Sami Lee">
                {% else %}
                <img src="/images/SamiLogoSmall.png" alt="Sami Lee">
                {% endif %}
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/resume">Resume</a></li>
                <li><a href="/aboutcontact">About/Contact</a></li>
            </ul>
        </nav>
    </div>
</header>