
<div class="page-content">
    <h2 class="mb0">More UX Projects</h2>
</div>

<div class="container-fluid">
    <div id="fh5co-projects-feed" class="fh5co-projects-feed clearfix masonry">
        <div id="fh5co-projects-feed" class="fh5co-projects-feed clearfix masonry">
            <div class="fh5co-project masonry-brick">
                <a href="/projects/pets">
                    <img src="images/MainImages/PetsSubNavScreenshot.jpg"
                        alt="Screenshot of Amazon Pets navigation">
                    <h2>UX | Amazon Pets Navigation</h2>
                </a>
            </div>
            <div class="fh5co-project masonry-brick">
                <a href="pages/Projects/primenow.html">
                    <img src="images/img_19.jpg" alt="Amazon Prime Now checkout">
                    <h2>UX | Amazon Whole Foods Case Study & Redesign</h2>
                </a>
            </div>
            <div class="fh5co-project masonry-brick">
                <a href="pages/Projects/aasdm.html">
                    <img src="images/img_4.jpg" alt="Shelter dog bio">
                    <h2>UX | Appaws Airlines Concept Design</h2>
                </a>
            </div>
            <div class="fh5co-project masonry-brick">
                <a href="pages/Projects/aasdm.html">
                    <img src="images/img_4.jpg" alt="Shelter dog bio">
                    <h2>UX | Amazon Subscribe & Save Case Study</h2>
                </a>
            </div>
        </div>
        <!--END .fh5co-projects-feed-->
    </div>
    <!-- END .container-fluid -->
</div>